<% @options = RSpotify::Recommendations.available_genre_seeds %>

<form href="/hipster/genres">
  <%= form_tag "/hipster/genres" do %>
    <%= select_tag :genre, options_for_select(@options, "genre"), class: 'form-select' %>
    <%= submit_tag("Confirm Genre", class: 'btn btn-large bg-black text-white my-4') %>
  <% end %>
</form>
