<body class="bg-dark" style="background: url('<%= @song.image %>')">
<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
<p style="color: green"><%= notice %></p>
<div class="col">
  <div class="align-content-center justify-content-center">
    <h1 class="text-center text-white"><%= @song.name %></h1>
    <div class="img-fluid float-center text-center">
      <div id="embed-iframe">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/<%= "#{@song.spotify_id}" %>?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      </div>
    </div>
  </div>
</div>
</body>

