<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body class="bg-opacity-75 bg-black bg-gradient">

<div class="container-fluid p-3">

  <div class="container p-5 mb-4 rounded-3" style="background-color: black">
    <h1 class="display-3" style="background-color: black; color: rgb(35, 215, 96);">Discover New.<div style="color: rgb(35, 215, 96);">Discover You.</div></h1>
    <p class="lead" style="color: rgb(35, 215, 96);">Use Discoverify to find curated brand new niche music, expand your horizon, and grow as a music lover.</p>
    <p><a class="btn btn-lg btn-success" href="logout" role="button" style="background-color: rgb(35, 215, 96); color: rgb(25, 20, 20);">Sign up today</a></p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4 style="color: white;">Subheading</h4>
      <p style="color: white">Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4 style="color: white">Subheading</h4>
      <p style="color: white">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4 style="color: white">Subheading</h4>
      <p style="color: white">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="col-lg-6">
      <h4 style="color: white">Subheading</h4>
      <p style="color: white">Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4 style="color: white">Subheading</h4>
      <p style="color: white">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4 style="color: white">Subheading</h4>
      <p style="color: white">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div>



</div> <!-- /container -->


<div class="pn-shadow-host js-pn-create-project-modal" children="" style="all: initial
  !important;"></div><div class="pn-shadow-host js-pn-feedback-modal" children="" style="all:
  initial !important;"></div><div class="pn-shadow-host js-pn-image-modal" children="" style="all:
  initial !important;"></div></body>
</html>