<p style="color: green"><%= notice %></p>

<%= render @playlist %>

<div>
  <%= link_to "Edit this playlist", edit_user_playlist_path(@playlist) %> |
  <%= link_to "Back to playlists", @user %>
</div>
